@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/public/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/* Style for scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Track color (you can set it to match your background color) */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Thumb color (white in this case) */
    border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #cccccc; /* Thumb color on hover */
}



